/* CSS HEX */
// --terra-cotta: #ed6a5aff;
// --pale-spring-bud: #f4f1bbff;
// --opal: #9bc1bcff;
// --cadet-blue: #5ca4a9ff;
// --alabaster: #e6ebe0ff;

/* CSS HSL */
// --terra-cotta: hsla(7, 80%, 64%, 1);
// --pale-spring-bud: hsla(57, 72%, 85%, 1);
// --opal: hsla(172, 23%, 68%, 1);
// --cadet-blue: hsla(184, 31%, 51%, 1);
// --alabaster: hsla(87, 22%, 90%, 1);

/* SCSS HEX */
// $terra-cotta: #ed6a5aff;
// $pale-spring-bud: #f4f1bbff;
// $opal: #9bc1bcff;
// $cadet-blue: #5ca4a9ff;
// $alabaster: #e6ebe0ff;

/* SCSS HSL */
// $terra-cotta: hsla(7, 80%, 64%, 1);
// $pale-spring-bud: hsla(57, 72%, 85%, 1);
// $opal: hsla(172, 23%, 68%, 1);
// $cadet-blue: hsla(184, 31%, 51%, 1);
// $alabaster: hsla(87, 22%, 90%, 1);

/* SCSS RGB */
// $terra-cotta: rgba(237, 106, 90, 1);
// $terra-cottrgb(64, 141, 201) 1);
$terra-cotta: rgb(6, 91, 156);
$pale-spring-bud: rgba(244, 241, 187, 1);
$opal: rgba(155, 193, 188, 1);
$cadet-blue: rgba(92, 164, 169, 1);
$alabaster: rgba(230, 235, 224, 0.507);
$white: rgba(255, 255, 255, 1);

/* SCSS Gradient */
$gradient-top: rgb(85, 204, 217); //linear-gradient(0deg, rgb(85, 204, 217), rgb(75, 179, 203));
$gradient-bottom: rgb(215, 250, 255); //linear-gradient(0deg, rgb(255, 255, 255),rgba(255, 255, 255, 0.6));