@import "./colors";
@import "./presets";

.main-view{
    width:100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.chat-screen{
    width: 100%;
    max-width: 26rem;
    display: flex;
    flex-wrap: wrap;
    background: rgba(7, 113, 155, 0.377);
    backdrop-filter: blur(4px);
    border-radius: 1rem;
    padding: 0.6rem 0.8rem 1rem 0.8rem;
    box-shadow: 0px 10px 20px -15px rgba(0,0,0,0.7);
    
    header{
        width:100%;
        display: flex;
        justify-items: center;
        align-items: center;
        justify-content: space-between;
        align-content: center;
        background: transparent;
        border-radius: 0.4rem;
        padding: 0 0 0 1rem;

        & > div{
            display: inline-flex;
            flex-wrap: wrap;
            justify-content: end;
            align-items: center;
            padding: 1rem;
            background: transparent;
            padding: 1rem 0;

            #create-new-btn{
                background: rgba(255, 255, 255, 0.2);
                display: inline-flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                border: 1px solid transparent;
                padding: 0.8rem 1.4rem;
                border-radius: 0.8rem;
                color: rgb(255, 255, 255);
                font-size: 1rem;
                font-weight: 600;
                cursor: pointer;
                @extend .hover-outline;

                &:hover{
                    background: rgba(255, 255, 255, 0.3);
                }

                svg {
                    fill: currentColor;
                    color: rgb(226, 226, 226);
                    width: 1.3rem;
                    height: 1.3rem;
                    display: inline-block;
                    margin-left: 0.4rem;
                }
            }
        }

        h1{
            display: inline-block;
            font-size: 1.2rem;
            font-weight: 800;
            color:rgba(226, 226, 226, 1);
        }
    }

    .chat-box{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        border-radius: 0.4rem;
        margin-top: 0.5rem;

        .chat-container {
            width: 100%;
            min-height: 27rem;
            max-height: 27rem;
            overflow-x: hidden;
            overflow-y: scroll;
            margin: 0;
            padding: 0 1rem 0 0;
            background: rgba(255, 255, 255, 0.1);
            border: 3px solid rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(2px);
            border-radius: 1rem;
            @extend .custom_scroll;
        }
        
        .chat-bubble-container{
            width: 100%;
            // min-height: 27rem;
            padding: 0.4rem;
            position: relative;
            display: flex;
            align-content: flex-start;
            flex-direction: column;
            justify-content: end;
            overflow-x: hidden;
            overflow-y: hidden;

            & > div{
                width: 70%;
                margin: 0.3rem 0;   
                padding: 0.6rem 0.8rem;
                font-size: 1rem;
                line-height: 1.2rem;
            }

            .right {
                align-self: flex-end;
                background: $gradient-top;
                border-radius: 1rem 1rem 0 1rem;
                border-radius: 10px;
                color: rgb(255, 255, 255);
                margin-right: 0.4rem;
                position: relative;

                &::before{
                    content: '';
                    position: absolute;
                    bottom: 0rem;
                    right: 0;
                    width: 0; 
                    height: 0; 
                    margin-right: -9px;
                    transform: rotate(0deg);
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid #225065;
                }
            }

            .left {
                align-self: flex-start;
                background: $gradient-bottom;
                color: #225065;
                border-radius: 1rem 1rem 1rem 0;
                border-radius: 10px;
                margin-left: 0.5rem;
                position: relative;

                &::before{
                    content: '';
                    position: absolute;
                    bottom: 0rem;
                    left: 0;
                    width: 0; 
                    height: 0; 
                    margin-left: -9px;
                    transform: rotate(0deg);
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid rgb(215, 250, 255);
                }
            }
        }

        .chat-bubble-footer{
            width: 100%;
            padding: 0.6rem 0 0 0;
            border-radius: 0.8rem;
            margin-top: 0.4rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
            align-items: center;
            position: relative;

            #input-box-main{
                width: 100%;
                padding:1.1rem 0.8rem;
                margin: 0;
                border: none;
                border-radius: 0.6rem;
                font-size: 1.1rem;
                font-weight: 500;
                line-height: 0.9rem;
                background: rgba(255, 255, 255, 0.2);
                color: rgb(255, 255, 255);
                box-shadow:  rgb(255, 255, 255) 0px 0px 0px 0px, rgba(129, 240, 255, 0.5) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
                
                &::placeholder{
                    color: rgb(255, 255, 255);
                }

                &:focus{
                    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgba(129, 240, 255, 0.5) 0px 0px 0px 3px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
                }

                &:hover{
                    opacity: 0.8;
                }

            }
            
            .btn-add-new-container{
                position: absolute;
                right: 0.4rem;
                margin: 0;
                padding: 0 0 0 0.8rem;
                display: flex;
                justify-content: center;
                align-content: center;
                gap: 0 0.3rem;

                #btn-send{
                    width: 2.5rem;
                    height: 2.5rem;
                    border: none;
                    border-radius: 0.5rem;
                    cursor: pointer;
                    background: rgba(34, 80, 101, 0.5);
                    display: inline-flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;

                    svg {
                        fill: currentColor;
                        color: #fff;    
                    }

                    &:hover{
                        opacity: 0.7;
                    }

                    box-shadow:  rgb(255, 255, 255) 0px 0px 0px 0px, rgba(129, 240, 255, 0.5) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;

                    &:focus{
                        box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgba(129, 240, 255, 0.5) 0px 0px 0px 3px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
                    }

                    &:nth-child(1) > svg{
                        width: 1.4rem;
                        height: 1.4rem;
                    }

                    &:nth-child(2) > svg{
                        width: 1.4rem;
                        height: 1.4rem;
                    }
                }
            }
        }
    }
}