@import "colors";

html, body{
    width: 100%;
    overflow-x: hidden;
    display: block;
    font-family: 'Inter var';
    padding: 0;
    margin: 0;
    background-color: $alabaster;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='.5' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cuse fill='%23fafafa' href='%23s' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='2'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ed6a5a'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ed6a5a'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(50) translate(-980 -735)'%3E%3Cg fill='%23ed6a5a'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

*{
    transition: all 0.3s;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    &:focus{
        outline: none;
        transition: all 0.3s;
    }

    &:hover{
        transition: all 0.3s;
    }
}


@font-face {
  font-family: 'Inter var';
  src: url('https://static.smitpatelx.com/fonts/inter-var.woff2') format('woff2');
  font-weight: 0 1000;
  font-display: swap;
}

.main-view{
    width:100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.chat-screen{
    width: 100%;
    max-width: 26rem;
    display: flex;
    flex-wrap: wrap;
    background: $alabaster;
    border: 3px solid $white;
    border-radius: 0.4rem;
    padding: 0.6rem;
    box-shadow: 0px 10px 20px -15px rgba(0,0,0,0.7);
    
    header{
        width:100%;
        display: flex;
        justify-items: center;
        align-items: center;
        justify-content: center;
        align-content: center;
        background: $cadet-blue;
        color: $white;
        border-radius: 0.4rem;

        h1{
            font-size: 1.1rem;
            font-weight: 600;
        }
    }

    .chat-box{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        border-radius: 0.4rem;
        margin-top: 0.5rem;
        
        .chat-bubble-container{
            width: 100%;
            min-height: 28rem;
            padding: 0.4rem;
            background-color: rgba(155, 193, 188, 0.336);
            border-radius: 0.4rem;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: end;
            overflow: hidden scroll;
            max-height: 35rem;

            & > div{
                width: 70%;
                margin: 0.3rem 0;   
                padding: 0.6rem 0.8rem;
                font-size: 1rem;
                line-height: 1.2rem;
                box-shadow: 0px 10px 20px -15px rgba(18, 53, 209, 0.918);
            }

            .right {
                align-self: flex-end;
                background: $gradient-top;
                border-radius: 1rem 1rem 0 1rem;
                color: rgb(255, 255, 255);
            }

            .left {
                align-self: flex-start;
                background: $gradient-bottom;
                color: rgb(59, 59, 59);
                border-radius: 1rem 1rem 1rem 0;
            }
        }

        .chat-bubble-footer{
            width: 100%;
            padding: 0.4rem 0 0 0;
            border-radius: 0.4rem;
            margin-top: 0.4rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            position: relative;

            #input-box-main{
                width: 70%;
                padding:0.5rem 0.8rem;
                margin: 0;
                border: none;
                border-radius: 0.3rem;
                font-size: 1rem;
                line-height: 0.9rem;
                box-shadow:  rgb(255, 255, 255) 0px 0px 0px 0px, rgba(237, 106, 90, 0.5) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;

                &:focus{
                    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgba(237, 106, 90, 0.5) 0px 0px 0px 3px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
                }

                &:hover{
                    opacity: 0.8;
                }

            }
            
            .btn-add-new-container{
                margin: 0;
                width: 30%;
                padding: 0 0 0 0.8rem;
                display: flex;
                justify-content: center;
                align-content: center;
                gap: 0 0.3rem;

                #btn-add-new, #btn-send{
                    width: 100%;
                    border: none;
                    background-color: $terra-cotta;
                    transition: all 0.3s;
                    border-radius: 0.3rem;
                    cursor: pointer;

                    svg {
                        fill: currentColor;
                        color: #fff;    
                    }

                    &:hover{
                        opacity: 0.7;
                    }

                    box-shadow:  rgb(255, 255, 255) 0px 0px 0px 0px, rgba(237, 106, 90, 0.5) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;

                    &:focus{
                        box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px, rgba(237, 106, 90, 0.5) 0px 0px 0px 3px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
                    }

                    &:nth-child(1) > svg{
                        width: 1.2rem;
                        height: 1.2rem;
                        margin-top: 0.3rem;
                    }

                    &:nth-child(2) > svg{
                        width: 1.4rem;
                        height: 1.4rem;
                    }
                }
            }
        }
    }
}